.advantages-list {
  @include reset-list();

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    width: 100%;
  }
}

.advantages-list__item {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  &--contrast {
    color: $basic-white;
  }

  &:first-child {
    @media (min-width: $tablet-width) {
      grid-column: 1/4;
      grid-row: 1/2;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      grid-column: 1/4;
      grid-row: 2/3;
      display: flex;
    }
  }

  &--text-only {
    min-height: 167px;

    @media (min-width: $tablet-width) {
      min-height: 256px;
    }
  }

  &--text-only:not(:last-child) {
    border-bottom: 1px solid $basic-light-gray-2;
  }
}

.advantages-list__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 11px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 14px;
  }

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }

  &--contrast {
    color: $basic-white;
  }
}

.advantages-list__number {
  margin: 0;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.advantages-list__description {
  margin: 0;

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.advantages-list__description--second {
  br {
    display: inline;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.advantages-list__description--four {
  br:nth-child(2) {
    @media (min-width: $desktop-width) {
      display: inline;
    }
  }
}

.advantages-list__image {
  width: 320px;
  height: 260px;
  object-fit: cover;
  vertical-align: bottom;

  @media (min-width: $tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    height: 256px;
  }
}
