.advantages__title {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;

  &--padding-left-right {
    padding: 0 30px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 41px;
  }
}

.advantages__wrapper {
  @include center-wrapper();

  &--color {
    background-color: $basic-blue;
  }

  &--first-item {
    position: relative;
    padding-top: 50px;
    padding-bottom: 39px;

    @media (min-width: $tablet-width) {
      padding: 40px 32px 44px;
      box-sizing: border-box;
      width: 33.3%;
    }

    @media (min-width: $desktop-width) {
      padding: 47px 52px 57px;
    }
  }

  &--first-item::before,
  &--first-item::after {
    content: "";
    position: absolute;
    border-top: 16px solid $basic-white;
    top: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--first-item::before {
    border-left: 160px solid transparent;
    left: 0;
  }

  &--first-item::after {
    border-right: 160px solid transparent;
    right: 0;
  }

  &--second-item {
    padding-top: 39px;
    padding-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 43px 36px 41px;
      order: 2;
    }
  }

  &--inner-item {
    padding-top: 25px;
    padding-bottom: 24px;
    background-color: $basic-light-gray;

    @media (min-width: $tablet-width) {
      border: none;
      box-sizing: border-box;
      width: 100%;
      padding: 42px 33px;
      min-height: 256px;
    }
  }

  &--border-bottom {
    border-bottom: 1px solid $basic-light-gray-2;
  }
}
