.advantages__title {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.advantages__wrapper {
  @include center-wrapper();

  &--color {
    background-color: $basic-blue;
  }

  &--first-item {
    position: relative;
    padding-top: 50px;
    padding-bottom: 39px;
  }

  &--first-item::before,
  &--first-item::after {
    content: "";
    position: absolute;
    border-top: 16px solid $basic-white;
    top: 0;
  }

  &--first-item::before {
    border-left: 160px solid transparent;
    left: 0;
  }

  .advantages__wrapper--first-item::after {
    border-right: 160px solid transparent;
    right: 0;
  }

  &--second-item {
    padding-top: 39px;
    padding-bottom: 35px;
  }

  &--inner-item {
    padding-top: 25px;
    padding-bottom: 24px;
    background-color: $basic-light-gray;
  }

  &--border-bottom {
    border-bottom: 1px solid $basic-light-gray-2;
  }
}
