.button {
  background-color: $basic-blue;
  color: $basic-white;
  display: block;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}
