.button {
  background-color: $basic-blue;
  color: $basic-white;
  display: block;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 0 auto;

  &:hover,
  &:focus {
    background-color: $basic-dark-blue;
  }

  &:active {
    color: $special-white;
    background-color: $basic-dark-blue2;
  }

  &:disabled {
    background-color: $basic-light-gray-3;
  }
}
