.main-nav {
  position: relative;
  z-index: 2;
  min-height: 56px;
}

.main-nav__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  padding: 0;
  width: 23px;
  height: 22px;
  border: none;
  background-color: $basic-white;
  background-image: url("../img/icon/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  right: 20px;
  top: 17px;

  :hover,
  :focus {
    opacity: 0.6;
  }

  :active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  padding: 0;
  width: 23px;
  height: 22px;
  border: none;
  background-color: $basic-blue;
  background-image: url("../img/icon/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  right: 20px;
  top: 17px;
  z-index: 3;

  :hover,
  :focus {
    opacity: 0.6;
  }

  :active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--opened .main-nav__item {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }

  .main-nav--nojs .main-nav__item:hover,
  .main-nav--nojs .main-nav__item:focus {
    background-color: $basic-dark-blue;
  }

  .main-nav--nojs .main-nav__item:active {
    background-color: $basic-dark-blue2;
  }

  .main-nav--nojs .main-nav__item:active .main-nav__link {
    color: $special-white;
  }
}

.main-nav__list {
  @include reset-list();

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 156px 1fr 1fr;
  }
}

.main-nav__item {
  text-align: center;
  padding: 10px 20px 5px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  mix-blend-mode: normal;
  background-color: $basic-blue;
  z-index: 1;

  &--inner-first {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
  }

  &--inner-last::before {
    content: "";
    position: absolute;
    height: 7px;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
    mix-blend-mode: normal;
    bottom: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:nth-child(3) {
    @media (min-width: $tablet-width) {
      grid-column: 4;
    }
  }

  &:nth-child(4) {
    @media (min-width: $tablet-width) {
      grid-column: 5;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    background-color: $basic-white;
    color: $basic-black;
    box-shadow: none;
  }
}

.main-nav__link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 26px;
    color: $basic-black;
  }
}
