.modal-failure {
  position: absolute;
  padding-top: 44px;
  padding-bottom: 35px;
  bottom: 1022px;
  background-color: $basic-white;
  box-sizing: border-box;
  min-height: 280px;

  @media (min-width: $tablet-width) {
    width: 400px;
    left: 50%;
    margin-left: -200px;
    bottom: 343px;
    padding-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    bottom: 232px;
    padding-bottom: 49px;
  }

  &--visible {
    display: block;
  }

  &--invisible {
    display: none;
  }
}

.modal-failure__button {
  padding: 18px 76px 14px;

  @media (min-width: $tablet-width) {
    min-width: 272px;
  }
}
