.modal {
  position: absolute;
  text-align: center;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  background-color: $basic-white;
  box-sizing: border-box;

  &--success {
    padding-top: 39px;
    bottom: 356px;

    @media (min-width: $tablet-width) {
      width: 640px;
      left: 50%;
      margin-left: -320px;
      bottom: 506px;
    }
  }

  &--failure {
    padding-top: 44px;
    padding-bottom: 35px;
    bottom: 1022px;
    min-height: 280px;

    @media (min-width: $tablet-width) {
      width: 400px;
      left: 50%;
      margin-left: -200px;
      bottom: 343px;
      padding-bottom: 49px;
    }

    @media (min-width: $desktop-width) {
      bottom: 232px;
      padding-bottom: 49px;
    }
  }

  &--visible {
    display: block;
  }

  &--invisible {
    display: none;
  }
}

.modal__wrapper-button {
  padding: 20px;
  background-color: $basic-blue3;

  @media (min-width: $tablet-width) {
    padding: 44px 91px;
  }
}

.modal__wrapper {
  @include center-wrapper();

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.modal__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: $basic-black;
  margin-bottom: 25px;

  &--failure {
    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 40px;
      padding: 0 50px;
    }
  }

  &--success {
    @media (min-width: $tablet-width) {
      font-size: 30px;
      padding: 0 50px;
      margin-bottom: 30px;
    }
  }
}

.modal__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 22px;
  padding-left: 25px;
  padding-right: 25px;

  &--failure {
    @media (min-width: $tablet-width) {
      margin-bottom: 38px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 38px;
    }
  }

  &--success {
    @media (min-width: $tablet-width) {
      margin-bottom: 41px;
    }
  }
}
