.modal {
  text-align: center;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.modal__wrapper {
  @include center-wrapper();

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.modal__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: $basic-black;
  margin-bottom: 25px;

  &--failure {
    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 40px;
      padding: 0 50px;
    }
  }

  &--success {
    @media (min-width: $tablet-width) {
      font-size: 30px;
      padding: 0 50px;
      margin-bottom: 30px;
    }
  }
}

.modal__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 22px;
  padding-left: 25px;
  padding-right: 25px;

  &--failure {
    @media (min-width: $tablet-width) {
      margin-bottom: 38px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 38px;
    }
  }

  &--success {
    @media (min-width: $tablet-width) {
      margin-bottom: 41px;
    }
  }
}
