.modal-success {
  padding-top: 30px;
}

.modal-success__wrapper-button {
  padding: 20px;
  background-color: $basic-blue3;
}

.modal-success__button {
  padding-top: 18px;
  padding-bottom: 14px;
  width: 100%;
}
