.page-footer__wrapper {
  @include center-wrapper();
  text-align: center;
  padding-top: 29px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
  }

  &--inner {
    @media (min-width: $tablet-width) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 120px;
      padding-right: 120px;
    }
  }
}

.page-footer__map-image {
  display: block;
  width: 320px;
  height: 350px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 350px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 350px;
  }
}

.page-footer__map {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 16.8px;
    height: 16.8px;
    background-color: $basic-blue2;
    border-radius: 50%;
    top: 161px;
    left: 146px;
    border: 5px solid $basic-white;

    @media (min-width: $tablet-width) {
      top: 164px;
      left: 370px;
    }

    @media (min-width: $desktop-width) {
      top: 162px;
      left: 586px;
    }
  }
}

.page-footer__hashtag {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: $basic-black;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
