.page-header {
  position: relative;

  &--catalog {
    min-height: 214px;
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      min-height: 346px;
      margin-bottom: 63px;
    }

    @media (min-width: $desktop-width) {
      min-height: 357px;
      margin-bottom: 100px;
    }
  }

  &--form {
    min-height: 214px;
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      min-height: 346px;
      margin-bottom: 70px;
    }

    @media (min-width: $desktop-width) {
      min-height: 357px;
      margin-bottom: 112px;
    }
  }
}

.page-header__image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--main {
    width: 320px;
    height: 389px;
    background-image: url("../img/icon/back-mobile.jpg");
    background-color: $basic-dark-blue3;
    margin-bottom: 34px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/icon/back-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      background-image: url("../img/icon/back-tablet.jpg");
      width: 768px;
      height: 518px;
      margin-bottom: 44px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/icon/back-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/icon/back-desktop.jpg");
      width: 1200px;
      height: 518px;
      margin-bottom: 52px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/icon/back-desktop@2x.jpg");
      }
    }
  }

  &--inner {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 320px;
    height: 214px;
    background-image: url("../img/icon/back-mobile-inner.jpg");
    background-color: $basic-light-gray-7;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/icon/back-mobile-inner@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      background-image: url("../img/icon/back-tablet-inner.jpg");
      width: 768px;
      height: 346px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/icon/back-tablet-inner@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/icon/back-desktop-inner.jpg");
      width: 1200px;
      height: 357px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/icon/back-desktop-inner@2x.jpg");
      }
    }
  }

  &::before,
  &::after {
    @media (max-width: $mobile-width-only) {
      content: "";
      position: absolute;
      border-bottom: 26px solid $basic-white;
      bottom: 0;
    }
  }

  &::before {
    @media (max-width: $mobile-width-only) {
      border-right: 160px solid transparent;
      left: 0;
    }

    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      width: 50%;
      height: 57px;
      background-image: url("../img/icon/intro-triangle-left.svg");
      left: 0;
      bottom: 0;
    }
  }

  &::after {
    @media (max-width: $mobile-width-only) {
      border-left: 160px solid transparent;
      right: 0;
    }

    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 100%;
      height: 57px;
      background-image: url("../img/icon/intro-triangle.svg");
      left: 0;
      bottom: 0;
    }

    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      width: 50%;
      height: 57px;
      background-image: url("../img/icon/intro-triangle-right.svg");
      left: 50%;
      bottom: 0;
    }
  }
}

.page-header__text {
  display: block;
  margin: 0 auto;
  padding-top: 90px;
  width: 282px;
  height: 214px;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 78px;
    width: 460px;
    height: 350px;
  }

  &--inner {
    padding-top: 108px;
    width: 229px;
    height: 39px;

    @media (min-width: $tablet-width) {
      padding-top: 151px;
      width: 457px;
      height: 78px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 157px;
      width: 460px;
      height: 80px;
    }
  }
}
