.page-main__wrapper {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  &--form {
    @media (min-width: $desktop-width) {
      padding: 0 120px;
    }
  }
}

.page-main__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $basic-black;
  padding: 0 21px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 0 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 300px;
    margin-bottom: 31px;
  }

  &--inner {
    @media (min-width: $tablet-width) {
      font-size: 30px;
      margin-bottom: 34px;
    }
  }

  br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
