.page-header {
  position: relative;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -51px;
  z-index: 1;
}

.page-header__logo-image {
  display: block;
  margin: 0 auto;
}

.page-header__image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 32px;

  &--main {
    width: 320px;
    height: 389px;
    background-image: url("../img/icon/back-mobile.jpg");
    background-color: $basic-white;

    @media (min-width: $tablet-width) {
      background-image: url("../img/icon/back-tablet.jpg");
      width: 768px;
      height: 518px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/icon/back-desktop.jpg");
      width: 1200px;
      height: 518px;
    }
  }

  &--inner {
    width: 320px;
    height: 214px;
    background-image: url("../img/icon/back-mobile-inner.jpg");
    background-color: $basic-white;

    @media (min-width: $tablet-width) {
      background-image: url("../img/icon/back-desktop-inner.jpg");
      width: 768px;
      height: 290px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/icon/back-desktop-inner.jpg");
      width: 1200px;
      height: 301px;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-bottom: 26px solid $basic-white;
    bottom: 0;
  }

  &::before {
    border-right: 160px solid transparent;
    left: 0;
  }

  &::after {
    border-left: 160px solid transparent;
    right: 0;
  }

  &--text-image-inner {
    display: block;
    margin: 0 auto;
    padding-top: 108px;
  }
}
