.presentation {
  padding-top: 12px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 58px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 85px;
  }
}

.presentation__wrapper {
  text-align: center;
}

.presentation__question {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: $basic-black;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 34px;
  }
}

.presentation__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 0 10px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 77px;
  }

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }
}
