.response__title {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding: 0 105px;
    margin-bottom: 78px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 260px;
    margin-bottom: 56px;
  }
}

.response__form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
  }
}

.response__wrapper {
  &--fist-item {
    margin-top: 19px;

    @media (min-width: $tablet-width) {
      margin-top: 55px;
    }
  }

  &--second-item {
    margin-top: 13px;
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      margin-top: 18px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      margin-top: 71px;
      margin-bottom: 52px;
    }
  }

  &--third-item {
    margin-top: 37px;
    margin-bottom: 41px;

    @media (min-width: $tablet-width) {
      margin-top: 55px;
      margin-bottom: 72px;
    }
  }

  &--fourth-item {
    margin-top: 36px;
    margin-bottom: 39px;

    @media (min-width: $tablet-width) {
      margin-top: 52px;
      margin-bottom: 4px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 60px;
      margin-bottom: 82px;
    }
  }

  &--fifth-item {
    margin-top: 8px;
    margin-bottom: 47px;

    @media (min-width: $tablet-width) {
      margin-top: 54px;
      margin-bottom: 50px;
    }
  }
}

.response__fieldset {
  display: block;
  padding: 0;
  margin: 0;
  border: none;

  &:first-child {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      grid-column: 2/3;
      grid-row: 1/2;
      margin-bottom: 72px;
      border-left: 1px solid $basic-light-gray-5;

      > .response__legend::before,
      > .response__legend::after {
        display: none;
      }
    }
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      grid-column: 1/-1;
      grid-row: 2/3;
    }
  }

  &:nth-child(3) {
    @media (min-width: $tablet-width) {
      grid-column: 1/2;
      grid-row: 1/2;

      > .response__legend::before,
      > .response__legend::after {
        display: none;
      }
    }
  }

  &:nth-child(4) {
    > .response__legend br {
      display: none;

      @media (min-width: $tablet-width) {
        display: inline;
      }
    }

    @media (min-width: $tablet-width) {
      grid-column: 1/-1;
      grid-row: 3/4;
    }
  }

  &:nth-child(5) {
    @media (min-width: $tablet-width) {
      grid-column: 1/-1;
      grid-row: 4/5;
    }
  }

  > .response__legend::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: $basic-light-gray-3;
    left: -20px;
    top: 0;

    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 123px;
      height: 1px;
      background-color: $basic-light-gray-5;
      left: 0;
      top: 50%;

      @media (min-width: $desktop-width) {
        width: 280px;
      }
    }
  }

  > .response__legend::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 123px;
      height: 1px;
      background-color: $basic-light-gray-5;
      right: 0;
      top: 50%;

      @media (min-width: $desktop-width) {
        width: 280px;
      }
    }
  }
}

.response__legend {
  display: block;
  position: relative;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: $basic-black;
  text-align: center;
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 0;
  }

  &--present {
    @media (min-width: $tablet-width) {
      text-align: left;
      margin-left: 58px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 80px;
    }
  }

  &--impression {
    padding-top: 17px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      margin-left: 80px;
    }
  }

  &--sights {
    padding-top: 13px;

    @media (min-width: $tablet-width) {
      padding-top: 23px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }
}

.response__field {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;

  &--present {
    @media (min-width: $tablet-width) {
      margin-left: 58px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 79px;
    }
  }

  &--contact {
    flex-wrap: wrap;

    @media (min-width: $desktop-width) {
      flex-wrap: nowrap;
      margin-bottom: 0;
    }

    :nth-child(1) {
      margin-bottom: 10px;

      @media (min-width: $tablet-width) {
        margin-bottom: 12px;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 0;
      }
    }
  }

  &--last-item {
    margin-bottom: 0;
  }

  &--icon-phone::after {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    background-color: $basic-light-gray-4;
    background-image: url("../img/icon/phone.svg");
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0;
    right: 0;
  }

  &--icon-email::after {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    background-color: $basic-light-gray-4;
    background-image: url("../img/icon/mail.svg");
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0;
    right: 0;
  }
}

.response__label {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding-right: 15px;

  &--contact {
    margin-bottom: 5px;
    margin-left: 22px;

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  > span {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.response__input {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  height: 58px;
  background-color: $basic-blue3;
  border: none;
  color: $basic-black;
  border-radius: 0;
  width: 100%;
  padding-left: 22px;
  appearance: none;
  outline: 0;
  box-shadow: none;
  box-sizing: border-box;

  &--contact {
    @media (min-width: $desktop-width) {
      width: 258px;
      box-sizing: border-box;
    }
  }

  &--icon {
    margin-right: 58px;
  }

  &:hover {
    background-color: $basic-light-gray-3;
  }

  &:active,
  &:focus {
    background-color: $basic-white;
    border: 4px solid $basic-light-gray-3;
  }
}

.response__input::placeholder {
  color: $basic-black;
  opacity: 1;
}

.response__list {
  @include reset-list();

  &--third {
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
  }

  &--fourth {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.response__item {
  position: relative;

  &--impression {
    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
      margin: 19px 0 13px;
    }
  }

  &--sights:nth-child(2n + 1) {
    @media (min-width: $tablet-width) {
      margin-left: 90px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 0;
    }
  }

  &--sights:nth-child(2n) {
    @media (min-width: $tablet-width) {
      margin-right: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }
}

.response__label-radio {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $basic-black;
  padding-left: 78px;
  cursor: pointer;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: $basic-blue3;
    border: 17px solid $basic-blue3;
    border-radius: 50%;
    top: -16px;
    left: 1px;
  }

  &--last-item {
    margin: 0;
  }
}

.response__input-radio:hover + .response__label-radio::before,
.response__input-radio:focus + .response__label-radio::before {
  background-color: $basic-light-gray-3;
  border: 17px solid $basic-light-gray-3;
}

.response__input-radio:disabled + .response__label-radio::before {
  background-color: $basic-light-gray-8;
  border: 17px solid $basic-light-gray-8;
}

.response__input-radio:checked + .response__label-radio::before {
  background-color: $basic-gray;
}

.response__input-radio:checked:disabled + .response__label-radio::before {
  background-color: $special-gray;
}

.response__label-checkbox {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $basic-black;
  padding-left: 81px;
  cursor: pointer;
  margin-bottom: 54px;

  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  &--last-item {
    margin-bottom: 39px;

    @media (min-width: $tablet-width) {
      margin-bottom: 85px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--before-last-item {
    @media (min-width: $tablet-width) {
      margin-bottom: 85px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: $basic-blue3;
    border-radius: 5px;
    top: -15px;
    left: 1px;
  }
}

.response__input-checkbox:hover + .response__label-checkbox::before,
.response__input-checkbox:focus + .response__label-checkbox::before {
  background-color: $basic-light-gray-3;
}

.response__input-checkbox:checked + .response__label-checkbox::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.925 1.325L21.825 0.225C21.525 -0.075 20.925 -0.075 20.625 0.225L8.725 12.125L2.525 5.925C2.225 5.625 1.625 5.625 1.325 5.925L0.225 7.025C-0.075 7.325 -0.075 7.925 0.225 8.225L8.025 16.025C8.225 16.225 8.425 16.225 8.625 16.225C8.825 16.225 9.025 16.125 9.225 16.025L22.725 2.525C23.225 2.225 23.225 1.725 22.925 1.325Z' fill='%23333333'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.response__input-checkbox:disabled + .response__label-checkbox::before {
  background-color: $basic-light-gray-8;
}

.response__input-checkbox:checked:disabled + .response__label-checkbox::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.925 1.325L21.825 0.225C21.525 -0.075 20.925 -0.075 20.625 0.225L8.725 12.125L2.525 5.925C2.225 5.625 1.625 5.625 1.325 5.925L0.225 7.025C-0.075 7.325 -0.075 7.925 0.225 8.225L8.025 16.025C8.225 16.225 8.425 16.225 8.625 16.225C8.825 16.225 9.025 16.125 9.225 16.025L22.725 2.525C23.225 2.225 23.225 1.725 22.925 1.325Z' fill='%23333333' opacity='0.3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.response__textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: $basic-blue3;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding: 18px 21px;
  border: none;
  color: $basic-black;
  appearance: none;
  outline: 0;
  box-shadow: none;
  resize: none;

  &::placeholder {
    color: $basic-black;
    opacity: 1;
  }

  &:hover {
    background-color: $basic-light-gray-3;
  }

  &:active,
  &:focus {
    background-color: $basic-white;
    border: 4px solid $basic-light-gray-3;
    padding: 14px 17px;
  }
}

.response__button {
  padding-top: 19px;
  padding-bottom: 13px;
  width: 100%;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 5/6;
    margin-bottom: 61px;
  }
}

.response__footnote {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-column: 2/3;
    grid-row: 5/6;
    margin-bottom: 61px;
    justify-self: end;
    align-self: center;
  }
}
