.search-hotel__wrapper {
  @include center-wrapper();
  text-align: center;
  padding-top: 34px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding: 55px 20px 59px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 20px 66px;
  }
}

.search-hotel__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: $basic-black;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 33px;
  }
}

.search-hotel__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }
}

.search-hotel__button {
  padding-top: 14.5px;
  padding-bottom: 17.5px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}
