.social__list {
  @include reset-list();
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.social__item {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: $basic-blue;
  margin-right: 6px;
  justify-content: center;
  align-items: center;
}

.social__item--last-item {
  margin: 0;
}
