$basic-white:#ffffff;
$basic-blue:#81b3d2;
$basic-blue2:#81b3d3;
$basic-dark-blue:#669ec0;
$basic-dark-blue2:#5496bd;
$basic-blue3:#f2f2f2;
$basic-black:#000000;
$basic-gray:#333333;
$basic-light-gray: #eeeeee;
$basic-light-gray-2: #d6d6d6;
$basic-light-gray-3: #e5e5e5;
$basic-light-gray-4: #e6e6e6;
$special-white:rgba(255, 255, 255, 0.3);
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
